.categories {
  margin-bottom: 10px;
}
.categories .container {
  width: 1080px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.categories .container table {
  width: 50%;
  border: 1px solid;
}
.categories .container table tr th:not(:last-child) {
  border-right: 1px solid;
}
.categories .container table tr td:not(:last-child) {
  border-right: 1px solid;
}
.categories .container table tr td {
  text-align: center;
  border-top: 1px solid;
}

.products .container {
  width: 1080px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.products .container table {
  width: 1080px;
  border: 1px solid;
}
.products .container table tr th:not(:last-child) {
  border-right: 1px solid;
}
.products .container table tr td:not(:last-child) {
  border-right: 1px solid;
}
.products .container table tr td {
  text-align: center;
  border-top: 1px solid;
}
.products .container table tr td a {
  font-weight: bold;
}
.products .container table tr td a:hover {
  color: cornflowerblue;
}

.hidden {
  display: none;
}

#cart {
  position: fixed;
  top: 100px;
  margin: 0 auto;
}
#cart .container {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: scroll;
  height: 250px;
  border: 1px solid;
  border-radius: 12px;
}
#cart .container table {
  background-color: rgba(161, 187, 161, 0.6);
  width: 1080px;
  height: 100%;
}
#cart .container table tr .qua {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#cart .container table tr .qua input[type=number] {
  display: block;
  height: 35px;
  line-height: 32px;
  width: 50px;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
  background: none;
  font-size: 24px;
  text-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
}
#cart .container table tr .qua input[type=number]::-webkit-outer-spin-button,
#cart .container table tr .qua input[type=number]::-webkit-inner-spin-button {
  display: none;
}
#cart .container table tr .qua .plus,
#cart .container table tr .qua .minus {
  background: none;
  display: block;
  font-size: 24px;
  cursor: pointer;
}
#cart .container table tr td:not(:last-child) {
  border-bottom: 1px solid;
}
#cart .container table tr td {
  text-align: center;
  height: 50px;
}
#cart .container table tr td a {
  font-weight: bold;
}
#cart .container table tr td a:hover {
  color: cornflowerblue;
}