.categories{
  margin-bottom: 10px;
  .container{
    width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    table{
      width: 50%;
      border: 1px solid;
      tr{
        th:not(:last-child){
          border-right: 1px solid;
        }
        td:not(:last-child){
          border-right: 1px solid;
        }
        td{
          text-align: center;
          border-top: 1px solid;
        }
      }
    }
  }
}

.products{
  .container{
    width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    table{
      width: 1080px;
      border: 1px solid;
      tr{
        th:not(:last-child){
          border-right: 1px solid;
        }
        td:not(:last-child){
          border-right: 1px solid;
        }
        td{
          text-align: center;
          border-top: 1px solid;
          a{
            font-weight: bold;
          }
          a:hover{
            color: cornflowerblue;
          }
        }
      }
    }
  }
}

.hidden {
  display: none;
}
#cart{
  position: fixed;
  top: 100px;
  margin: 0 auto;
  .container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    height: 250px;
    border: 1px solid;
    border-radius: 12px;
    table {
      background-color: rgba(161, 187, 161, 0.6);
      width: 1080px;
      height: 100%;

      tr {
        th:not(:last-child) {
        }

        td:not(:last-child) {
        }
        .qua{
          display: flex;
          justify-content: center;
          input[type="number"]
          {
            display: block;
            height: 35px;
            line-height: 32px;
            width: 50px;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            text-align: center;
            -moz-appearance: textfield;
            -webkit-appearance: textfield;
            appearance: textfield;
            background: none;
            font-size: 24px;
            text-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
          }
          input[type="number"]::-webkit-outer-spin-button,
          input[type="number"]::-webkit-inner-spin-button {
            display: none;
          }
          .plus,
          .minus {
            background: none;
            display: block;
            font-size: 24px;
            cursor: pointer;
          }
        }
        td:not(:last-child)
        {
          border-bottom: 1px solid;
        }
        td {
          text-align: center;
          height: 50px;
          a {
            font-weight: bold;
          }
          a:hover {
            color: cornflowerblue;
          }
        }
      }
    }
  }
}

